/**
 * Imports
 */
@import "./node_modules/nib/lib/nib"
@import "common"

/**
 * Variables
 */
// Palette
// Icons: Yellow: ffaa00, Blue: 1d7297, Turquoise: 068080

// Page
text-color = #222222
page-width = 600px
page-background = #F4F4F4
link-color = #2C6EAC
select-background = #999999
select-color = #ffffff

// Sections
header-background = #ffffff
header-color = #ffffff
header-subtitle-color = #cccccc
menu-background = #ffffff
menu-color = #ffffff
post-title-color = #222222
heading-color = #333333
text-line-height = 125%
content-background = #ffffff
content-border = #cccccc
content-padding = 30px
content-width = page-width + (2 * content-padding)

// Dark-themed
// code-background = #222222
// code-color = #ffffff
// code-border = #cccccc

// Light-themed
code-background = #fdfdfd
code-color = #333333
code-border = #cccccc

/**
 * Site-wide
 */
body
  color: text-color
  background-color: page-background

a
  &, &:active, &:visited, &:hover
    color: link-color
    text-decoration: none
    font-weight: bold

  &:hover
    text-decoration: underline

::-moz-selection,
::selection
  background: select-background
  color: select-color

code
  color: code-color
  border: none

p code
  background-color: content-background

pre,
.gist .gist-file .gist-data
  color: code-color
  background-color: code-background !important
  font-size: 13px

pre
  padding: 10px 15px
  margin-left: 15px
  margin-right: 15px
  margin-bottom: 15px

pre,
.gist .gist-file
  border: 1px solid code-border
  border-radius(3px)
  box-shadow(2px, 5px, 5px, #999999)

  .ie6 &, .ie7 &, .ie8 &
    border: 2px solid #999999

.highlight span
  background-color: code-background !important

h3
  font-size:15px
  line-height:34px

/**
 * Header
 */
header
  padding: 20px 0 5px


/**
 * Main Content
 */

#main-content
  padding:20px;
  border: 1px solid content-border
  border-radius(3px)
  background: content-background
  box-shadow(0, 3px, 4px, content-border)

  .more-posts
    margin: 15px 0px 5px 0px
    a
      width:94%

/**
 * Post styles
 */
.post
  margin-top:-20px
  margin-bottom:20px
  padding:0 0 20px 0
  border-bottom:1px solid content-border

.post-title h2
  padding: 0px 0px 10px 0px

.post-date
  text-shadow: 0 1px 0 #ffffff
  position:relative
  left:-100px
  top:27px
  color:#666666
  font-size:20px
  font-weight:bold

.post-meta
  font-size:11px;

/**
 * Sidebar
 */

#sidebar
  .block
    margin:25px 0px

    h5
      border-bottom: 1px solid content-border
      box-shadow(0, 1px, 1px, #FFFFFF)
      text-shadow: 0 1px 0 #ffffff
      margin:0 0 10px 0

    .social-links
      list-style:none

      li
        padding:2px 0px

      a
        padding:0 0 0 26px
        line-height:20px

      .rss
        background:url(../img/site/feed-16x16.png) no-repeat 0 0;
      .twitter
        background:url(../img/site/twitter-16x16.png) no-repeat 0 0;
      .github
        background:url(../img/site/github-16x16.png) no-repeat 0 0;


/**
 * Footer
 */
footer
  padding:20px 0px 30px 0px
  text-align:center

